/* SEARCH RESULTS ========================= */
.search-results {
  @extend .widget-last-blog-posts;
  figure {
    border-bottom: none;
  }

  .detail {
    padding-top: 0;
  }
  a.link-more {
    font-size: 9px;
    font-family: $body-font-family;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    line-height: 14px;
    padding-right: 7px;

    &:after {
      content: "\f061";
      display: inline-block;
      font-family: FontAwesome;
      font-size: 19px;
      color: $theme-color;
      width: 17px;
      height: 22px;
      padding-left: 10px;
      vertical-align: middle;
    }
  }
}